* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-light-purple: #eee5ff;
  --primary-purple: #c4a2f6;
  --primary-darker-purple: #7541c8;
  --nutural-white: #ffffff;
  --nutural-light-grey: #e7eaee;
  --nutural-light-grey-two: #cfcfcf;
  --nutural-grey: #676d7e;
  --nutural-darker-grey: #48556a;
  --nutural-dark-blue: #19212e;
  --nutural-black: #121212;
  --font-size: 13px;
  --font-family: "Barlow Semi Condensed";
}
body {
  min-height: 100svh;
}
section {
  background-color: var(--nutural-light-grey);
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100svh;
  width: 100svw;
  gap: 1rem;
  /*prettier-ignore*/
  grid-template-areas:
    "Daniel Daniel Jonathan Kira"
    "Jeanette Patrick Patrick Kira";
}

p {
  font-family: var(--font-family);
  font-size: var(--font-size);
  padding-left: 20px;
}
.Daniel {
  grid-area: Daniel;
  background-color: var(--primary-darker-purple);
  color: var(--nutural-white);
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.5);
}
.Daniel-image {
  border: 2px solid #c4a2f6;
}
.Jonathan {
  grid-area: Jonathan;
  background-color: var(--nutural-darker-grey);
  color: var(--nutural-white);
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.4);
}
.jonathan-image {
  border: 2px solid #cfcfcf;
}
.Kira {
  grid-area: Kira;
  background-color: var(--nutural-white);
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.3);
}
.Jeanette {
  grid-area: Jeanette;
  background-color: var(--nutural-white);
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.3);
}
.Patrick {
  grid-area: Patrick;
  background-color: var(--nutural-black);
  color: var(--nutural-white);
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.7);
}
.parick-image {
  border: 2px solid #7541c8;
}
img {
  /* padding-left: 20px;
  padding-top: 20px;
  height: 70px;
  width: 70px; */
  border-radius: 50%;
}
.image-name {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.column {
  grid-column: auto;
}
